  <!-- <app-navigation></app-navigation> -->


    <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>ecommerce App</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
<body>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
            <ul class="largenav pull-right">
              <!-- <a [routerLink]="['/shoppage']">Shopping</a>  -->
                <li class="upper-links"><a class="links" [routerLink]="['/shoppage']">Continue Shopping</a></li>

                <li class="upper-links"><a class="links" [routerLink]="['/walmartapi']">Price Listing</a></li>
                <li class="upper-links"><a class="links" [routerLink]="['/logout']">Logout</a></li>

            </ul>
        </div>
        <div class="row row2">
            <div class="col-sm-2">
                <h2 style="margin:0px;"><span class="smallnav menu">☰ Brand</span></h2>
                <h1 style="margin:0px;"><span class="largenav">DojoMart</span></h1>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input class="flipkart-navbar-input col-xs-11" type="text" placeholder="Search for Products, Brands and more" name="searchStr"   [(ngModel)]="searchStr">
                    <button class="flipkart-navbar-button col-xs-1">
                        <svg width="15px" height="15px">
                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cart largenav col-sm-2">
                <a class="cart-button" [routerLink]="['/logout']">
                    <svg class="cart-svg " width="16 " height="16 " viewBox="0 0 16 16 ">
                        <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#fff "></path>
                    </svg>
                    <span class="item-number "></span>
                </a>
            </div>
        </div>
    </div>
</div>
 <br>
 <br>
 <br>

<!-- <div class="bikes" > -->


<div class="create">

<h3>Manage Inventory</h3><br><br>
  <div class="bike">
    <form (submit)="addBike(); bikeForm.reset()" #bikeForm="ngForm">
      <div class="col-sm-3">
    <label>Image Upload (url): </label>
     <input type="text" name="Imageurl" required [(ngModel)]='newBike.Imageurl' #Imageurl='ngModel'><br>
      <!-- <img ng-src="http://cdn.mos.cms.futurecdn.net/05634a233decefea6571a8654a280ae0.jpg" alt="click to add photo (required)" > -->
      </div><br>
      <div class="col-sm-7">
        <div class="form-group">
          <label>Title</label> <span class="error" *ngIf="ProductName.errors && (ProductName.dirty || ProductName.touched)"> *required</span>
          <input type="text" name="ProductName" class="form-control" [(ngModel)]="newBike.ProductName" #ProductName="ngModel" required>
          <label>Description</label> <span class="error" *ngIf="Description.errors && (Description.dirty || Description.touched)">
            <span *ngIf="Description.errors.required"> *required</span><span *ngIf="Description.errors.maxlength"> *cannot exceed 200 characters</span></span>
          <textarea class="form-control" rows="3" name="desc" [(ngModel)]="newBike.Description" #Description="ngModel" required maxlength="200"></textarea>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label>Price</label> <span class="error" *ngIf="Price.errors && (Price.dirty || Price.touched)">
            <span *ngIf="Price.errors.required"> *required</span><span *ngIf="!Price.errors.required && Price.errors.minValue">*at least $1</span></span>
          <input type="number" class="form-control" name="Price" [(ngModel)]="newBike.Price" #Price="ngModel" required minValue="1">

          <br><input type="submit" value="Create" class="btn btn-success" [disabled]="!bikeForm.form.valid ">
        </div>
      </div>
    </form>
    <hr>
    <br>
<br>
<br>
<br>
<hr>
  </div>
</div>


<br>
<br>
<br>
<br>
<div class="row bikes"   >
<!-- {{mybikes}} -->
  <div class="col-md-3 product"  *ngFor="let b of myBikes; let idx = index"><br>
    <div class="col-sm-7">

    <h5><b>{{b.ProductName}} </b></h5><br>

    <img md-card-image src={{b.Imageurl}} style="width:100px;height:100px"><br>

    <b> Description :</b> {{b.Description}} <br>

   <b>Price:</b> {{b.Price | currency:'USD':true  }}<br><br>



    </div>
  </div>
  </div>




      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
